doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/anime.min.js" type="text/javascript")
        script(type="text/javascript")
        -    
            //- 
            //- anime({
            //-     targets: 'div',
            //-     translateX: 250,
            //-     rotate: '1turn',
            //-     backgroundColor: '#FFF',
            //-     duration: 800
            //- }); 
    body
        block content
